.news-item{
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	border-radius: 5px;
	border: 1px solid grey;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;

	&__body{
		padding: 25px;

		.link{
			display: block;
			margin-bottom: 20px;
		}
	}

	&__header{
		border-bottom: 1px solid #000;
		font-weight: bold;
		padding: 10px;
	}
}
